### Tuples

In [13]:
t = (1,2,3,4,5)

In [14]:
type(t)

tuple

In [15]:
t[0]

1

In [16]:
t[4]

5

In [17]:
t[-1]

5

In [30]:
t[3] = 10

TypeError: 'tuple' object does not support item assignment

In [18]:
len(t)

5

In [19]:
min(t)

1

In [20]:
max(t)

5

### Lists

In [23]:
x = [1,2,3,4,5]

In [24]:
type(x)

list

In [25]:
x[0]

1

In [26]:
x[-1]

5

In [27]:
len(x)

5

In [28]:
min(x)

1

In [29]:
max(x)

5

In [32]:
x[3] = 10
print(x)

[1, 2, 3, 10, 5]

In [33]:
x.extend(range(10))
print(x)

[1, 2, 3, 10, 5, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [43]:
x.insert(0,25)
print(x)

[25, 1, 2, 3, 10, 5, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [44]:
x.remove(25)
print(x)

[1, 2, 3, 10, 5, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [45]:
del x[3]
print(x)

[1, 2, 3, 5, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [47]:
x.pop()
print(x)

[1, 2, 3, 5, 0, 1, 2, 3, 4, 5, 6, 7, 8]

In [48]:
x.pop(0)
print(x)

[2, 3, 5, 0, 1, 2, 3, 4, 5, 6, 7, 8]

### Dictionaries

In [51]:
d = {'one':1, 'two':2, 'three':3}
print(d)
print(type(d))

{'one': 1, 'two': 2, 'three': 3}
<class 'dict'>

In [75]:
x = dict(four=4, five=5, six=6)
print(x)
print(type(x))

{'four': 4, 'five': 5, 'six': 6}
<class 'dict'>

In [76]:
d['three']

3

In [77]:
d.get('three')

3

In [78]:
x.get('three', 'not found')

'not found'

In [79]:
del x['four']
print(x)

{'five': 5, 'six': 6}

In [80]:
x.pop('five')
print(x)

{'six': 6}